body {
  font-family: 'Charter',sans-serif;
  letter-spacing: 5px;
  margin: 30px auto;
  text-align: center;
  background-color: beige;
  color: rgb(88, 87, 87);
}

.title {
  margin-bottom: 40px;
}


input {
  border: none;
  border-radius: 3%;
  margin: 20px 0;
}

input:hover {
  cursor: pointer;
}


li {
  list-style-type: none;
  line-height: 2em;
}

.icon {
  margin-left: 10px;
}

.icon:hover {
  cursor: pointer;
}